
        body {
            background-color: rgb(4, 29, 29);
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            flex-direction: column;
        }
        h2{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: bold;
                text-align: center;
                color: white;
                font-size: 15px;
        }

        .container {
            width: 360px;
            padding: 33px;
            text-align: center;
            background-color: #fff;
            margin: 0 auto;
        }

        input {
            width: 270px;
            padding: 8px;
            border: 2px solid rgb(6, 145, 145);
            outline: none;
        }

        button {
            width: 60px;
            height: 35px;
            background-color: rgb(4, 29, 29);
            color: #fff;
            border-radius: 2px;
            border: none;
            font-size: 15px;
            cursor: pointer;
        }

        .text ul {

            position: relative;
            background-color: rgb(5, 31, 31);
            color: #fff;
            font-size: 19px;
            text-align: left;
            padding: 8px;

        }

        .text ul i {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }